.container {
  margin: 20px auto;
  width: 400px;
  padding: 0px 20px 20px 20px;
  border: 2px solid black;
}

th {
  text-align: left;
}

#formy { 
	text-align: right;

}

#newuser {
	color: blue;
	text-align: right;
}