<div class="container">
  <h1>Useful Login Page</h1>
  <table>
    <p> 
      <form action='/login' method="POST">
      <div id=formy>
        <p>
          User Name (email):  <input input id="email" type="email" name="form[email]" placeholder="user@something.com">
        </p>
        <p>
          Password: <input input id="password" type="password" name="form[password]"
          placeholder="password here please2put">
        </p>
            <input type="submit" value="Submit"></p><br>
      </div>
      </form> 
    </p>
  </table>
</div>
